body{
    background: #F0E3D6;
    margin:0 auto;
    
}
/*Celular*/
@media only screen and  (min-width: 320px) and (max-width: 540px){
    body{
      overflow-x:hidden;
    }
    #logo_app{
        width: 150px;
        height: 150px;
        margin: 0 auto;
      position: relative;
      
        left: 110px;
    }
    #txt_imput{
        margin: 0 auto;
        position: absolute;
       
        left: 20px;
    }
    #imput_box{
        
        position: absolute;
       
        left: -190px;
    }
    #imput_box_c{
        margin: 0 auto;
        position: absolute;
       
        left: 220px;
    }
    #imput_box_registro{
        margin: 0 auto;
        position: absolute;
       
        left: 200px;
    }
    #cbox1{
        position: absolute;
        left: 100px;
    }
    
    #botonc{
        position: absolute;
        left: 110px;
    }
    #botonr{
        
        left: 80px;
    }
    
    .botonave{
        background: #DAC3B6;
        color: black;
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        
    }
    .botonave:hover{
        opacity: 0.7;
    }
    /*.seleccionado{
        background: #d69e7d;
        color: #DAC3B6;
    }*/
    .div1{
        position: relative;
        
       
        left: 40px; 
    }
    .div2{
        position: relative;    
       
        
        border-radius: 8px;
    }
    .div3{
        margin: 0 auto;
        
      
        left: 40px; 
    }
    
    .div4{
        position: relative;    
       
        
        border-radius: 8px;
    }
    .div5{
        position: relative;
        border-radius: 8px;
    }
    
    .div7{
        position: relative;
        border-radius: 8px;
       
    }
    
    .div9{
        position: relative;
    }
    .fa {
        padding: 5px;
        font-size: 20px;
        width: 131px;
        height: 12px;
        text-align: center;
        text-decoration: none;
        
        display: inline-block;
      }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
      }
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    
    a{
        margin: 20px;
    }
    .parent_login {
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 11px;
        position: relative;
        
        }
        
        .div1 { grid-area: 2 / 1 / 3 / 2; }
        .div2 { grid-area: 2 / 2 / 3 / 3; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 3 / 2 / 4 / 3; }
        .div5 { grid-area: 4 / 1 / 5 / 2; }
        .div6 { grid-area: 5 / 1 / 6 / 2; }
        .div7 { grid-area: 6 / 1 / 7 / 2; }
        .div8 { grid-area: 6 / 2 / 7 / 3; }
        .div9 { grid-area: 7 / 1 / 8 / 2; }
    
    
    .parent_registro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 11px;
    position: relative;
    }
    
        .divr1 { grid-area: 2 / 1 / 3 / 2; }
        .divr2 { grid-area: 3 / 1 / 4 / 2; }
        .divr3 { grid-area: 4 / 1 / 5 / 2; }
        .divr4 { grid-area: 5 / 1 / 6 / 2; }
        .divr5 { grid-area: 6 / 1 / 7 / 2; }
        .divr6 { grid-area: 7 / 1 / 8 / 2; }
    
    .divr1{
        display: inline-block;
        position: relative;
        padding: 2px;
        text-align: center;
        text-decoration: none;
    }
    .divr2{
        display: inline-block;
        position: relative;
    }
    .divr3{
        display: inline-block;
        position: relative;
    }
    .divr4{
        display: inline-block;
        position: relative;
    }
    .divr5{
        display: inline-block;
        position: relative;
    }
    .divr6{
        display: inline-block;
        position: relative;
    }
    
    .parent_principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 11px;
        }
        
        .divp1 { grid-area: 1 / 1 / 2 / 2; }
        .divp2 { grid-area: 1 / 2 / 2 / 3; }
        .divp3 { grid-area: 2 / 1 / 3 / 2; }
        .divp4 { grid-area: 3 / 1 / 4 / 2; }
        .divp5 { grid-area: 3 / 2 / 4 / 3; }
        .divp6 { grid-area: 4 / 1 / 5 / 2; }
        .divp7 { grid-area: 4 / 2 / 5 / 3; }
        .divp8 { grid-area: 5 / 1 / 6 / 2; }
        .divp9 { grid-area: 5 / 2 / 6 / 3; }
        .divp10 { grid-area: 6 / 1 / 7 / 2; }
    
    .divp1{
    position: relative;
    }
    .boton_circulo{
       
        display: inline-block;
        height: 45px;
        width: 45px;
        
        text-align: center;
        text-decoration: none;
        border-radius:50%;
        background: #d69e7d;
    }
    .boton_editarc{
       
        display: inline-block;
        height: 100px;
        width: 100px;
        
        text-align: center;
        text-decoration: none;
        border-radius:50%;
        background: #d69e7d;
        position:absolute;
        left: 115px;
        top: 315px;
        
    }
       
    #boton_atras{
        position: absolute;
        left: 80px;
    }
    #log_out{
        position: absolute;
        left: 25px;
        top: 27px;
        height: 30px;
        width: 30px;
    }
    #admiracion{
        position: absolute;
        left: 290px;
    }
    #admiracion_img{
        position: absolute;
        left: 10px;
        top: 5px;
        height: 30px;
        width: 30px;
    }
    #logo_app_p{
        width: 110px;
        height: 110px;
        margin: 0 auto;
      position: relative;
      top: -45px;
        left: 130px;
    }
    .divp4{
        position: relative;
    }
    .divp5{
        position: absolute;
        left: 940px;
        top: 250px;
    }
    .divp6{
        position: relative;
    }
    .divp7{
        position: absolute;
        left: 940px;
        top: 390px
    }
    .divp8{
        position: relative;
    }
    .divp9{
        position: absolute;
        left: 940px;
        top: 500px
    }
    .divp10{
        position: relative;
    }
    
    .icono_ropa{
        position: absolute;
        
    }
    #icono_camiseta{
        left: 60px;
        width: 75px;
        height: 75px;
    }
    #icono_pantalones{
        left: -700px;
        width: 75px;
        height: 75px;
    }
    #icono_accesorios{
        left: 10px;
        width: 175px;
        height: 175px;
    }
    #icono_espejo{
        left: -715px;
        width: 100px;
        height: 122px;
    }
    #icono_zapatos1{
        top: 40px;
        left: 60px;
        width: 75px;
        height: 75px;
    }
    #icono_zapatos2{
        top: 40px;
        left: -700px;
        width: 75px;
        height: 75px;
    }
    .botones_principales_nav{
        background: #DAC3B6;
        
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
    }
    #icono_search{
        top: 3px;
        left: 28px;
        width: 20px;
        height: 20px;
    }
    #boton_tamaño_1{
        position: absolute;
        left: 28px;
        width: 60px;
        height: 10px;
        top: 40px;
    }
    #boton_tamaño_2{
        position: absolute;
        top: 60px;
        left: 130px;
        width: 60px;
        height: 10px;
    }#boton_tamaño_3{
        position: absolute;
        left: 232px;
        width: 60px;
        height: 10px;
        top: 40px;
    }
    #icono_plus{
        top: -2px;
        left: 25px;
        width: 30px;
        height: 30px;
    }
    #icono_percha{
        top: -2px;
        left: 25px;
        width: 30px;
        height: 30px;
    }
    #icono_edit{
        top: -250px;
        left: -921px;
        width: 75px;
        height: 82px;
    }

    #atras_boton{
        position: absolute;
        left: 7px;
        top: 8px;
        height: 70px;
        width: 70px;
    }
    .botonave_nombre{
        background: #DAC3B6;
        color: black;
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        
    }
    #boton_tamaño_nombre{
        position: absolute;
        left: 80px;
        width: 150px;
        height: 10px;
        text-align: center;
    }
}

/*tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px){

    #logo_app{
        width: 150px;
        height: 150px;
        margin: 0 auto;
      position: relative;
      
        left: 290px;
    }
    #txt_imput{
        margin: 0 auto;
        position: absolute;
       
        left: 180px;
    }
    #imput_box{
        
        position: absolute;
       
        left: -190px;
    }
    #imput_box_c{
        margin: 0 auto;
        position: absolute;
       
        left: 220px;
    }
    #imput_box_registro{
        margin: 0 auto;
        position: absolute;
       
        left: 395px;
    }
    #cbox1{
        position: absolute;
        left: 275px;
    }
    
    #botonc{
        position: absolute;
        left: 280px;
    }
    #botonr{
        
        left: 80px;
    }
    
    .botonave{
        background: #DAC3B6;
        color: black;
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        
    }
    .botonave:hover{
        opacity: 0.7;
    }
    /*.seleccionado{
        background: #d69e7d;
        color: #DAC3B6;
    }*/
    .div1{
        position: relative;
        
       
        left: 40px; 
    }
    .div2{
        position: relative;    
       
        
        border-radius: 8px;
    }
    .div3{
        margin: 0 auto;
        
      
        left: 40px; 
    }
    
    .div4{
        position: relative;    
       
        
        border-radius: 8px;
    }
    .div5{
        position: relative;
        border-radius: 8px;
    }
    
    .div7{
        position: relative;
        border-radius: 8px;
        left: 170px;
       
    }
    
    .div9{
        position: relative;
    }
    .fa {
        padding: 5px;
        font-size: 20px;
        width: 131px;
        height: 12px;
        text-align: center;
        text-decoration: none;
        
        display: inline-block;
      }
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
        background: #3B5998;
        color: white;
      }
    .fa-google {
        background: #dd4b39;
        color: white;
    }
    
    a{
        margin: 20px;
    }
    .parent_login {
        display: grid;
        /*grid-template-columns: repeat(2, 1fr);*/
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 11px;
        position: relative;
        
        }
        
        .div1 { grid-area: 2 / 1 / 3 / 2; }
        .div2 { grid-area: 2 / 2 / 3 / 3; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 3 / 2 / 4 / 3; }
        .div5 { grid-area: 4 / 1 / 5 / 2; }
        .div6 { grid-area: 5 / 1 / 6 / 2; }
        .div7 { grid-area: 6 / 1 / 7 / 2; }
        .div8 { grid-area: 6 / 2 / 7 / 3; }
        .div9 { grid-area: 7 / 1 / 8 / 2; }
    
    
    .parent_registro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 7px;
    grid-row-gap: 11px;
    position: relative;
    }
    
        .divr1 { grid-area: 2 / 1 / 3 / 2; }
        .divr2 { grid-area: 3 / 1 / 4 / 2; }
        .divr3 { grid-area: 4 / 1 / 5 / 2; }
        .divr4 { grid-area: 5 / 1 / 6 / 2; }
        .divr5 { grid-area: 6 / 1 / 7 / 2; }
        .divr6 { grid-area: 7 / 1 / 8 / 2; }
    
    .divr1{
        display: inline-block;
        position: relative;
        padding: 2px;
        text-align: center;
        text-decoration: none;
    }
    .divr2{
        display: inline-block;
        position: relative;
    }
    .divr3{
        display: inline-block;
        position: relative;
    }
    .divr4{
        display: inline-block;
        position: relative;
    }
    .divr5{
        display: inline-block;
        position: relative;
    }
    .divr6{
        display: inline-block;
        position: relative;
    }
    
    .parent_principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 7px;
        grid-row-gap: 11px;
        }
        
        .divp1 { grid-area: 1 / 1 / 2 / 2; }
        .divp2 { grid-area: 1 / 2 / 2 / 3; }
        .divp3 { grid-area: 2 / 1 / 3 / 2; }
        .divp4 { grid-area: 3 / 1 / 4 / 2; }
        .divp5 { grid-area: 3 / 2 / 4 / 3; }
        .divp6 { grid-area: 4 / 1 / 5 / 2; }
        .divp7 { grid-area: 4 / 2 / 5 / 3; }
        .divp8 { grid-area: 5 / 1 / 6 / 2; }
        .divp9 { grid-area: 5 / 2 / 6 / 3; }
        .divp10 { grid-area: 6 / 1 / 7 / 2; }
    
    .divp1{
    position: relative;
    }
    .boton_circulo{
       
        display: inline-block;
        height: 45px;
        width: 45px;
        
        text-align: center;
        text-decoration: none;
        border-radius:50%;
        background: #d69e7d;
    }
    .boton_editarc{
       
        display: inline-block;
        height: 100px;
        width: 100px;
        
        text-align: center;
        text-decoration: none;
        border-radius:50%;
        background: #d69e7d;
        position:absolute;
        left: 115px;
        top: 315px;
        
    }
       
    #boton_atras{
        position: absolute;
        left: 80px;
    }
    #log_out{
        position: absolute;
        left: 25px;
        top: 27px;
        height: 30px;
        width: 30px;
    }
    #admiracion{
        position: absolute;
        left: 680px;
    }
    #admiracion_img{
        position: absolute;
        left: 10px;
        top: 5px;
        height: 30px;
        width: 30px;
    }
    #logo_app_p{
        width: 110px;
        height: 110px;
        margin: 0 auto;
      position: relative;
      top: -45px;
        left: 335px;
    }
    .divp4{
        position: relative;
    }
    .divp5{
        position: absolute;
        left: 940px;
        top: 250px;
    }
    .divp6{
        position: relative;
    }
    .divp7{
        position: absolute;
        left: 940px;
        top: 390px
    }
    .divp8{
        position: relative;
    }
    .divp9{
        position: absolute;
        left: 940px;
        top: 500px
    }
    .divp10{
        position: relative;
    }
    
    .icono_ropa{
        position: absolute;
        
    }
    #icono_camiseta{
        left: 60px;
        width: 110px;
        height: 110px;
    }
    #icono_pantalones{
        left: -335px;
        width: 110px;
        height: 110px;
    }
    #icono_accesorios{
        left: 175px;
        width: 290px;
        height: 290px;
        top: -140px;
        
    }
    #icono_espejo{
        left: -560px;
        width: 200px;
        height: 250px;
        top: -120px;
        
    }
    #icono_zapatos1{
        top: 40px;
        left: 125px;
        width: 140px;
        height: 140px;
    }
    #icono_zapatos2{
        top: 40px;
    left: -435px;
    width: 140px;
    height: 140px;
    }
    .botones_principales_nav{
        background: #DAC3B6;
        
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
    }
    #icono_search{
        top: 3px;
        left: 28px;
        width: 20px;
        height: 20px;
    }
    #boton_tamaño_1{
        position: absolute;
        left: 125px;
        width: 60px;
        height: 10px;
        top: 40px;
    }
    #boton_tamaño_2{
        position: absolute;
        top: 60px;
        left: 315px;
        width: 60px;
        height: 10px;
    }#boton_tamaño_3{
        position: absolute;
        left: 515px;
        width: 60px;
        height: 10px;
        top: 40px;
    }
    #icono_plus{
        top: -2px;
        left: 25px;
        width: 30px;
        height: 30px;
    }
    #icono_percha{
        top: -2px;
        left: 25px;
        width: 30px;
        height: 30px;
    }
    #icono_edit{
        top: -250px;
        left: -921px;
        width: 75px;
        height: 82px;
    }

    #atras_boton{
        position: absolute;
        left: 7px;
        top: 8px;
        height: 70px;
        width: 70px;
    }
    .botonave_nombre{
        background: #DAC3B6;
        color: black;
        text-decoration: none;
        padding: 8px;
        border: 1px solid #d69e7d;
        border-radius: 8px;
        cursor: pointer;
        
    }
    #boton_tamaño_nombre{
        position: absolute;
        left: 80px;
        width: 150px;
        height: 10px;
        text-align: center;
    }

}
